<div class="max-w-7xl mx-auto px-4 py-8">
  <h1 class="text-3xl text-teal-500">Pages#index</h1>
  <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_PBgNop.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
</div>

<%= javascript_include_tag "lottie_player" %>